CompileFlags:
  Add:
    - --target=avr
    - -Iarduino_compat
    - -I/home/oleksandr/Arduino/libraries/MPR121/src
    - -I/home/oleksandr/.arduino15/packages/arduino/hardware/avr/1.8.7/libraries/Wire/src
    - -I/home/oleksandr/.arduino15/packages/arduino/hardware/avr/1.8.7/cores/arduino
    - -I/home/oleksandr/.arduino15/packages/arduino/hardware/avr/1.8.7/variants/standard
    - -I/home/oleksandr/.arduino15/packages/arduino/tools/avr-gcc/7.3.0-atmel3.6.1-arduino7/avr/include
    - -I/home/oleksandr/.arduino15/packages/arduino/tools/avr-gcc/7.3.0-atmel3.6.1-arduino7/lib/gcc/avr/7.3.0/include
    - -I.
    - -Icap_sensor
    - -DF_CPU=16000000L
    - -DARDUINO=10819
    - -DARDUINO_AVR_UNO
    - -DARDUINO_ARCH_AVR
    - -D__AVR__
    - -D__AVR_ATmega328P__
    - -std=gnu++11
  Remove:
    - -flto
    - -MMD
    - -MP
  Compiler: /usr/bin/clang++
